<title>CONSULTAR CLIENTES</title>
<br><br>
<div align="center"><img src="../../../../assets/ConsultarC.png" alt="Logo"><br>
    <h1>Consultar Clientes</h1>
</div><br>

<form class="form-inline" class="container" id="Buscador">
    <input class="form-control mr-sm-2" name="filtroCliente" [(ngModel)]="searchText" type="text" placeholder="Buscar por Cedula" aria-label="Search">
</form><br><br>

<!--<button id="divcontainer2" type="button" class="btn btn-primary">Consultar</button>-->
<div class="table-responsive" id="rcorners1">
    <table class="table table-bordered" id="myTable" >
        <thead>
            <tr class="thead-dark">
                <th (click)="sortTable(0)" scope="col">#</th>
                <th (click)="sortTable(1)"> <i class="bi bi-person-lines-fill"></i>__Cedula</th>
                <th (click)="sortTable(2)"> <i class="bi bi-person-fill"></i>__Nombre</th>
                <th (click)="sortTable(5)"> <i class="bi bi-person"></i>__Apellido</th>
                <th (click)="sortTable(8)"><i class="bi bi-gender-ambiguous"></i>__Sexo</th>
                <th (click)="sortTable(6)"> <i class="bi bi-calendar-fill"></i>__Edad</th>
                <th (click)="sortTable(9)"> <i class="bi bi-telephone-fill"></i>__Telefono</th>
                <th (click)="sortTable(7)"><i class="bi bi-envelope-fill"></i>__Email</th>
                <!-- <th (click)="sortTable(12)">Modificar/Eliminar</th> -->
            </tr>
        </thead>
       
    </table>
</div>
<br>